<!DOCTYPE html>
<html>
<head>
    <title>Love Birds Animals & Pets Category Bootstrap Responsive Web Template | @ViewBag.Title </title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Love Birds Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->

    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@


    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <!-- //Web-Fonts -->



</head>
<body>
    <!-- main banner -->
    <div class="main-top" id="home">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
                    <!-- logo -->
                    <div id="logo">
                        <h1><a href="index.html">Love Birds<img src="Images/logo2.png" alt="" class="img-fluid"></a></h1>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li><a href="index.html" class="active">Home</a></li>
                                <li><a href="#gallery">Gallery</a></li>
                                <li>
                                    <!-- First Tier Drop Down -->
                                    <label for="drop-2" class="toggle toogle-2">
                                        Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
                                    </label>
                                    <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                    <input type="checkbox" id="drop-2" />
                                    <ul>
                                        <li><a href="#services" class="drop-text">Services</a></li>
                                        <li><a href="#about" class="drop-text">About Us</a></li>
                                        <li><a href="#birds" class="drop-text">Beautiful Birds</a></li>
                                        <li><a href="#why" class="drop-text">Why Choose Us?</a></li>
                                        <li><a href="#testi" class="drop-text">Testimonials</a></li>
                                    </ul>
                                </li>
                                <li><a href="#contact">Contact Us</a></li>
                                <li class="call-w3pvt text-wh"><span class="fa fa-mobile mr-2"></span>+ 0987654321</li>
                            </ul>
                        </nav>
                    </div>
                    <!-- //nav -->
                </div>
            </div>
        </header>
        <!-- //header -->
        <!-- banner -->
        <div class="banner_w3lspvt">
            <div class="csslider infinity" id="slider1">
                <input type="radio" name="slides" checked="checked" id="slides_1" />
                <input type="radio" name="slides" id="slides_2" />
                <input type="radio" name="slides" id="slides_3" />
                <input type="radio" name="slides" id="slides_4" />
                <ul class="banner_slide_bg">
                    <li class="slider-style">
                        <div class="container-fluid">
                            <div class="w3ls_banner_txt text-right ml-auto pr-xl-5 pr-3">
                                <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-3">Welcome to Love Birds</h3>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit acntium doemque laudantium, totam
                                    rem aperiam eaque ipsa quae ab illo.
                                </p>
                                <a href="#about" class="btn button-style mt-sm-5 mt-4">More Info</a>
                                <!-- social icons -->
                                <div class="social-icons-footer text-center position-relative mt-5">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-twitter"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-dribbble"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-instagram"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- //social icons -->
                            </div>
                        </div>
                    </li>
                    <li class="slider-style">
                        <div class="container-fluid">
                            <div class="w3ls_banner_txt text-right ml-auto pr-xl-5 pr-3">
                                <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-3">Welcome to Love Birds</h3>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit acntium doemque laudantium, totam
                                    rem aperiam eaque ipsa quae ab illo.
                                </p>
                                <a href="#about" class="btn button-style mt-sm-5 mt-4">More Info</a>
                                <!-- social icons -->
                                <div class="social-icons-footer text-center position-relative mt-5">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-twitter"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-dribbble"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-instagram"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- //social icons -->
                            </div>
                        </div>
                    </li>
                    <li class="slider-style">
                        <div class="container-fluid">
                            <div class="w3ls_banner_txt text-right ml-auto pr-xl-5 pr-3">
                                <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-3">Welcome to Love Birds</h3>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit acntium doemque laudantium, totam
                                    rem aperiam eaque ipsa quae ab illo.
                                </p>
                                <a href="#about" class="btn button-style mt-sm-5 mt-4">More Info</a>
                                <!-- social icons -->
                                <div class="social-icons-footer text-center position-relative mt-5">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-twitter"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-dribbble"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-instagram"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- //social icons -->
                            </div>
                        </div>
                    </li>
                    <li class="slider-style">
                        <div class="container-fluid">
                            <div class="w3ls_banner_txt text-right ml-auto pr-xl-5 pr-3">
                                <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-3">Welcome to Love Birds</h3>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit acntium doemque laudantium, totam
                                    rem aperiam eaque ipsa quae ab illo.
                                </p>
                                <a href="#about" class="btn button-style mt-sm-5 mt-4">More Info</a>
                                <!-- social icons -->
                                <div class="social-icons-footer text-center position-relative mt-5">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-twitter"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-dribbble"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-instagram"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- //social icons -->
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="arrows">
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                    <label for="slides_4"></label>
                </div>
            </div>
            <div class="banner-left-grids">
                <div class="d-flex">
                    <div class="col-xl-2 col-md-3 col-sm-4 col-6 w3pvt-grids-1">
                        <h5 class="text-wh font-weight-bold let mb-2">01. Title Here</h5>
                        <p>Lorem ipsum dolor sit amet adipi scing elit.</p>
                    </div>
                    <div class="col-xl-2 col-md-3 col-sm-4 col-6 w3pvt-grids-1 pl-4">
                        <h5 class="text-wh font-weight-bold let mb-2">02. Title Here</h5>
                        <p>Lorem ipsum dolor sit amet adipi scing elit.</p>
                    </div>
                    <div class="col-xl-8 col-md-6 col-sm-4 w3pvt-grids-2">
                    </div>
                </div>
            </div>
        </div>
        <!-- //banner -->
    </div>
    <!-- //main banner -->

    @RenderBody()
    <!-- footer -->
    <footer class="footer-sec-w3layouts py-5 ">
        <div class="container py-xl-5 py-lg-3">
            <div class="row pb-3">
                <div class="col-lg-5 footer-left-info text-left">
                    <div class="logo-footer">
                        <h2>
                            <a href="index.html">Love Birds<img src="Images/logo2.png" alt="" class="img-fluid"></a>
                        </h2>
                    </div>
                    <p class="mt-lg-5 mt-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque
                        condimentum
                        lacus dapibus.consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.
                    </p>
                </div>
                <div class="col-lg-6 footer-right-info text-right offset-lg-1 mt-lg-0 mt-5">
                    <h6>Get In Touch</h6>
                    <address class="ad-info mt-lg-5 mt-4">
                        <strong>Twitter, Inc.</strong>
                        <br> 1355 Market St, Suite 900
                        <br> San Francisco, CA 94103
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                </div>
            </div>
            <!-- social icons -->
            <div class="social-icons-footer social-w3pvt-footer text-center pt-md-5 pt-4 mt-md-5 mt-4">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-dribbble"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //social icons -->
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center py-3">
        <p>
            © 2019 Love Birds. All rights reserved | Design by
            <a href="http://w3layouts.com"> W3layouts.</a>
        </p>
    </div>
    <!-- //copyright -->
    <!-- move top icon -->
    <a href="#home" class="move-top text-center"></a>
    <!-- //move top icon -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
